body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #ffffff;
  color: #213547;
}

h1 {
  font-size: 20px;
  margin-bottom: 1rem;
}

.container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

img[usemap] {
  border: none;
  height: auto;
  max-width: 100%;
  width: auto;
}

p {
  margin-bottom: 1rem;
  line-height: 1.5;
}